<%- model_class = @nutritional_information.class -%>
<h1>Información Nutricional</h1>

<div class="alert alert-info">
  <a class="close" data-dismiss="alert">×</a>
  Por 100 gramos de porción comestible
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:food_id) %></th>
      <th><%= model_class.human_attribute_name(:energy) %></th>
      <th><%= model_class.human_attribute_name(:proteins) %></th>
      <th><%= model_class.human_attribute_name(:fat) %></th>
      <th><%= model_class.human_attribute_name(:hydrates) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
      <% nutritional_information = @nutritional_information %>
      <tr>
        <td><%= nutritional_information.food_id %></td>
        <td><%= nutritional_information.energy %></td>
        <td><%= nutritional_information.proteins %></td>
        <td><%= nutritional_information.fat %></td>
        <td><%= nutritional_information.hydrates %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_food_nutritional_information_path(@food,nutritional_information), :class => 'btn btn-mini' %>
        </td>
      </tr>
  </tbody>
</table>

<%= link_to t('.cancel', :default => t("helpers.links.back")),
                foods_path, :class => 'btn' %>

