<%= will_paginate :params => { :controller => "foods", :action => "index" } %>

<table id="foods" class="table table-striped">
  <thead>
    <tr>
     
      <th>Categoria</th>
      <th>Descripción</th>
      <th>Información nutricional</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
        <% @foods.each do |food| %>
        <tr>
          <td><%= food.type.name %></td>
          <td><%= food.name %></td>
          
          <td>


            <% if food.nutritional_information %>
            <%= link_to t('.edit', :default => 'ver'),
                        food_nutritional_information_path(food,food.nutritional_information),
                        :class => 'btn btn-mini' %>
            <% else %>
            <%= link_to t('.edit', :default => 'cargar'),
                            new_food_nutritional_information_path(food),
                            :class => 'btn btn-mini' %>

            <% end %>
          </td>

          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_food_path(food), :class => 'btn btn-mini' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        food_path(food),
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
<% end %>
  </tbody>
</table>
<%= will_paginate :params => { :controller => "foods", :action => "index" } %>
