<%- model_class = FoodLineItem.new.class -%>
<table id='line_items' class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:food) %></th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:measure_unit) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <%= render @food_line_items %>
  </tbody>
</table>

